<%= link_to 'About Us', about_us_path() %>
<%= link_to 'Courses', courses_path() %>
<%= link_to 'Contact Us', contact_us_path() %>
<%= link_to 'Location', location_path() %>
<%= link_to 'Home', home_path() %>
