<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) + " | " %>Griffith College</title>
  <%= stylesheet_link_tag    'pages', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/menu'  %>

<%= yield %>

</body>
</html>
