<% content_for :title, 'About Us Page' %>

<h1>About Griffith</h1>
<p> Griffith College is Ireland's leading private college with campuses in Cork, Dublin and Limerick </p>

<p>With over 7,000 students at its campuses in Dublin, Cork and Limerick, Griffith College is the ideal choice for students seeking a strong education and a vibrant college life. Each campus is centrally located, meaning you have a wide variety of amenities and facilities on your doorstep, and with a large selection of clubs and societies, from football and basketball to film and photography, there are plenty of ways to get to know your fellow students!</p>


