<% content_for :title, 'Contact Us Page' %>

<h1>Contact us</h1>

<p>Do you have a query about one of our courses? Fill in the form below and we’ll be delighted to assist.</p>

<h6>Cork</h6>
<ul>
  <li>Griffith College Cork, Wellington Road, Cork.</li>
  <li>Phone: +353 21 4507027</li>
  <li>Email: admissions@gcc.ie</li>
</ul>

<h6>Dublin</h6>
<ul>
  <li>Griffith College Dublin, South Circular Road, Dublin 8, Dublin.</li>
  <li>Phone: +353 1 415 04 00</li>
  <li>Email: admissions@gcd.ie</li>
</ul>

<h6>Limerick</h6>
<ul>
  <li>Griffith College Limerick, O'Connell Avenue, Limerick City, Limerick.</li>
  <li>Phone: +353 61 310031</li>
  <li>Email: admissions@gcl.ie</li>
</ul>
